.textarea {
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  outline-color: var(--primary);
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-family);
}
